@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Lato');

/* *****************GENERAL************** */
.wrap {
	max-width: 1100px;
	margin: 0 auto;
	width: 90%
}

/* *****************HERO SECTION************** */
.hero {
	background-color: white;
	padding: 80px 0px;
	height: 400px;
	background-image: url("../images/logo.jpg");
	background-repeat: no-repeat;
	background-position: center;
	text-align: center;
}

/* *****************OFF CANVAS NAV************** */
#mobile-menu li {
	list-style: none;
	text-align: center;
}

#mobile-menu {
	background-color: rgba(255,255,255,0.8);
	padding: 10px;
}

#mobile-menu a {
	font-weight: bold;
	color: #0BB8C0;
	line-height: 3;
}
/* *****************NAV************** */
.nav-bar li a {
	font-family: Raleway;
	/* font-weight: bold; */
	color: #0BB8C0;
	font-size: 30px;
}

.nav-bar a:hover {
	background-color: rgba(4,93,97,0.1);
}


/* *****************MAIN SECTION************** */
.main {
	padding: 10px 0px;
	text-align: center;
}

.main h1 {
	color: #047c84;
	font-family: Raleway;
}

.main p {
	/* padding-top: 200px; */
	font-family: Lato;
}

.button {
	font-family: Raleway;
	font-weight: bold;
	text-align: center;
	background-color: #0BB8C0;

}

.operation-hours {
	font-family: Raleway;
	font-size: 30px;
	color: #047c84;
}

.main .bio li {
	list-style: none;
	text-align: center;
	font-family: Lato
}

.main span {
	color: #047c84;
	font-weight: bold;
}
/* .main a {
	color: #7B5F76;
} */

/* *****************FOOTER************** */
footer {
	padding: 20px 0px;
}

footer h4 {
	color: #0BB8C0;
	font-size: 21px;
}

footer hr {
	margin: 10px 0;
	width: 100px;
}

footer a {
	display: block;
	font-size: 13px;
}

footer p {
	display: block;
	font-size: 13px;
}

/* *****************MEDIA QUERY************** */
@media (max-width: 639px) {
	.nav-bar {
		display: none;
	}
	.hero {
		display: none;
	}
}
