@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Lato');

/* *****************GENERAL************** */
.wrap {
	max-width: 1100px;
	margin: 0 auto;
	width: 90%
}

/* *****************HERO SECTION************** */
.hero {
	background-color: white;
	text-align: center;
	background-color: rgba(4,93,97,0.1);

}

/* *****************OFF CANVAS NAV************** */
#mobile-menu li {
	list-style: none;
	text-align: center;
}

.title-bar {
	background-color: rgba(4,93,97,0.1);
}

.menu-icon::after {
	background-color: #0BB8C0;
	box-shadow: 0 7px 0 #0BB8C0, 0 14px 0 #0BB8C0;
}

.title-bar-title {
	font-family: Raleway;
	font-size: 30px;
	color: #0BB8C0;
}

#mobile-menu {
	background-color: rgba(0,0,0,0.5);
	padding: 10px;
}

#mobile-menu a {
	font-weight: bold;
	color: #0BB8C0;
	line-height: 3;
}

#mobile-menu ul {
	padding-top: 60px;
}
/* *****************NAV************** */
.main li a {
	font-family: Raleway;
	/* font-weight: bold; */
	color: #0BB8C0;
	font-size: 20px;
	position: relative;

}

.main a:hover {
	background-color: rgba(4,93,97,0.1);
}


/* *****************MAIN SECTION************** */
.main {
	padding: 10px 0px;
	text-align: center;

}

.main h1 {
	color: #047c84;
	font-family: Raleway;
	margin-top: 105px;
}

.main p {
	/* padding-top: 200px; */
	font-family: Lato;
}

.button {
	font-family: Raleway;
	font-weight: bold;
	text-align: center;
	background-color: #0BB8C0;
}

a.button:hover {
	background-color: #047c84;
}

.operation-hours {
	font-family: Raleway;
	font-size: 30px;
	color: #047c84;
}

.main .bio li {
	list-style: none;
	text-align: centered;
	



.main span {
	color: #047c84;
	font-weight: bold;

}

.secondary {
	margin-top: 15px;
	margin-bottom: 35px;
	margin-left: 310px;
	width: 65%;
	align-content: center;

}

.secondary h4{
	color: #047c84;
	font-family: Raleway;
	font-weight: bold;
}

.button1 {
	font-family: Raleway;
	font-weight: bold;
	text-align: center;
	background-color: #0BB8C0;
	margin-top: 30px;

}
.main h2 {
	color: #047c84;
	font-family: Raleway;
	margin-left: -355px;
	font-size: 3em;

}
h3 {
	color: #047c84;
	font-family: Raleway;

}
.aside{
	margin-left: 300px;
	margin-top: -225px;
}
	
	
	

/* .main a {
	color: #7B5F76;
} */

/* *****************FOOTER************** */
footer {
	padding: 20px 0px 0px 0px;
	background-color: rgba(4,93,97,0.1);
	margin-top: 25px;
}

footer h4 {
	color: #0BB8C0;
	font-size: 30px;
}

footer hr {
	margin: 10px 0;
	width: 100px;
}

footer a {
	font-size: 30px;
	color: #047c84;
}

footer a:hover {
	color: #0BB8C0;
}

footer p {
	display: block;
	font-size: 13px;
}

/* *****************MEDIA QUERY************** */
@media (max-width: 639px) {
	.nav-bar {
		display: none;
	}
	.hero {
		display: none;
	}
}

/* iframe */
.googlemap-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.googlemap-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}
