/**{outline:1px solid blue}*/

body {
  font-family: 'Quattrocento Sans', sans-serif;
}

h1,h2,h3,h4,h5 {
  font-family: 'Vidaloka', serif;
}

h1 {
  font-size: 1.35rem;
}

p{
  line-height: 1.25em;
}
